
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../../../static/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../../../static/assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Student</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="../../../static/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../../static/assets/css/light-bootstrap-dashboard.css?v=2.0.0 " rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../../../static/assets/css/demo.css" rel="stylesheet" />
</head>

<body>
        <div class="main-panel">
            <!-- Navbar -->
            {% include 'student/includes/navbar.html' %}
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card strpied-tabled-with-hover">
                                <div class="card-header ">
                                    <h4 class="card-title">Training Programme</h4>
                                    <p class="card-category">level 1</p>
                                </div>
                                <div class="card-body table-full-width table-responsive">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <th>English</th>
                                            <th>Swahili</th>
                                        </thead>
                                        <tbody>
                                                                                   c

                                         <tr>
                                                <td>Mother</td>
                                                <td>Mama</td>
                                                <td class="text-right">

                                                <audio id="mama" src="../../../static/Mama.m4a"></audio>
                                                  <div>

                                                       <i onclick="document.getElementById('mama').play()" class="fa fa-play-circle-o" style="font-size:35px;"></i>
                                                  </div>
                                                </td>
                                            </tr>
                                         <tr>
                                                <td>Flower</td>
                                                <td>Maua</td>
                                                <td class="text-right">

                                                 <audio id="maua" src="../../../static/Maua.m4a"></audio>
                                                  <div>

                                                       <i onclick="document.getElementById('maua').play()" class="fa fa-play-circle-o" style="font-size:35px;"></i>
                                                  </div>
                                                </td>
                                            </tr>
                                         <tr>
                                                <td>Table</td>
                                                <td>Meza</td>
                                                <td class="text-right">


                                           <audio id="meza" src="../../../static/Meza.m4a"></audio>
                                                  <div>

                                                       <i onclick="document.getElementById('meza').play()" class="fa fa-play-circle-o" style="font-size:35px;"></i>
                                                  </div>
                                                </td>
                                            </tr>
                                         <tr>
                                                <td>I</td>
                                                <td>Mimi</td>
                                                <td class="text-right">

                                                     <audio id="mimi" src="../../../static/Mimi.m4a"></audio>
                                                  <div>

                                                       <i onclick="document.getElementById('mimi').play()" class="fa fa-play-circle-o" style="font-size:35px;"></i>
                                                  </div>
                                                </td>
                                            </tr>
                                         <tr>
                                                <td>Person</td>
                                                <td>Mtu</td>
                                                <td class="text-right">

                                                  <audio id="mtu" src="../../../static/Mtu.m4a"></audio>
                                                  <div>

                                                       <i onclick="document.getElementById('mtu').play()" class="fa fa-play-circle-o" style="font-size:35px;"></i>
                                                  </div>
                                                </td>
                                            </tr>
                                         <tr>
                                                <td>Tree</td>
                                                <td>Mti</td>
                                                <td class="text-right">


                                                   <audio id="mti" src="../../../static/Mti.m4a"></audio>
                                                  <div>

                                                       <i onclick="document.getElementById('mti').play()" class="fa fa-play-circle-o" style="font-size:35px;"></i>
                                                  </div>
                                                </td>
                                            </tr>
                                         <tr>
                                                <td>Bat</td>
                                                <td>Popo</td>
                                                <td class="text-right">

                                                     <audio id="popo" src="../../../static/Popo.m4a"></audio>
                                                  <div>

                                                       <i onclick="document.getElementById('popo').play()" class="fa fa-play-circle-o" style="font-size:35px;"></i>
                                                  </div>
                                                </td>
                                            </tr>
                                         <tr>
                                                <td>Nose</td>
                                                <td>Pua</td>
                                                <td class="text-right">

                                                        <audio id="pua" src="../../../static/Pua.m4a"></audio>
                                                  <div>

                                                       <i onclick="document.getElementById('Pua').play()" class="fa fa-play-circle-o" style="font-size:35px;"></i>
                                                  </div>
                                                </td>
                                            </tr>
                                         <tr>
                                                <td>Cat</td>
                                                <td>Paka</td>
                                                <td class="text-right">


                                                     <audio id="Paka" src="../../../static/Paka.m4a"></audio>
                                                  <div>

                                                       <i onclick="document.getElementById('Paka').play()" class="fa fa-play-circle-o" style="font-size:35px;"></i>
                                                  </div>
                                                </td>
                                            </tr>
                                         <tr>
                                                <td>Thigh</td>
                                                <td>Paja</td>
                                                <td class="text-right">

                                                           <audio id="paja" src="../../../static/Paja.m4a"></audio>
                                                  <div>

                                                       <i onclick="document.getElementById('paja').play()" class="fa fa-play-circle-o" style="font-size:35px;"></i>
                                                  </div>
                                                </td>
                                            </tr>
                                         <tr>
                                                <td>Our</td>
                                                <td>Yetu</td>
                                                <td class="text-right">

                                                          <audio id="yetu" src="../../../static/Yetu.m4a"></audio>
                                                  <div>

                                                       <i onclick="document.getElementById('yetu').play()" class="fa fa-play-circle-o" style="font-size:35px;"></i>
                                                  </div>
                                                </td>
                                            </tr>
                                         <tr>
                                                <td>Television</td>
                                                <td>Runinga</td>
                                                <td class="text-right">

                                                     <audio id="runinga" src="../../../static/Runinga.m4a"></audio>
                                                  <div>

                                                       <i onclick="document.getElementById('runinga').play()" class="fa fa-play-circle-o" style="font-size:35px;"></i>
                                                  </div>
                                                </td>
                                            </tr>
                                         <tr>
                                                <td>Exercise</td>
                                                <td>Zoezi</td>
                                                <td class="text-right">


                                                           <audio id="zoezi" src="../../../static/Zoezi.m4a"></audio>
                                                  <div>

                                                       <i onclick="document.getElementById('zoezi').play()" class="fa fa-play-circle-o" style="font-size:35px;"></i>
                                                  </div>
                                                </td>
                                            </tr>
                                         <tr>
                                                <td>Fish</td>
                                                <td>Samaki</td>
                                                <td class="text-right">

                                                               <audio id="samaki" src="../../../static/Samaki.m4a"></audio>
                                                  <div>

                                                       <i onclick="document.getElementById('samaki').play()" class="fa fa-play-circle-o" style="font-size:35px;"></i>
                                                  </div>
                                                </td>
                                            </tr>
                                         <tr>
                                                <td>Ear</td>
                                                <td>Sikio</td>
                                                <td class="text-right">

                                                                 <audio id="sikio" src="../../../static/Sikio.m4a"></audio>
                                                  <div>

                                                       <i onclick="document.getElementById('sikio').play()" class="fa fa-play-circle-o" style="font-size:35px;"></i>
                                                  </div>
                                                </td>
                                            </tr>
                                         <tr>
                                                <td>Study</td>
                                                <td>Soma</td>
                                                <td class="text-right">

                                                                   <audio id="soma" src="../../../static/Soma.m4a"></audio>
                                                  <div>

                                                       <i onclick="document.getElementById('soma').play()" class="fa fa-play-circle-o" style="font-size:35px;"></i>
                                                  </div>
                                                </td>
                                            </tr>
                                         <tr>
                                                <td>Phone</td>
                                                <td>Simu</td>
                                                <td class="text-right">

                                                                    <audio id="simu" src="../../../static/Simu.m4a"></audio>
                                                  <div>

                                                       <i onclick="document.getElementById('simu').play()" class="fa fa-play-circle-o" style="font-size:35px;"></i>
                                                  </div>
                                                </td>
                                            </tr>
                                         <tr>
                                                <td>Worch</td>
                                                <td>Saa</td>
                                                <td class="text-right">


                                                   <audio id="saa" src="../../../static/Saa.m4a"></audio>
                                                  <div>

                                                       <i onclick="document.getElementById('saa').play()" class="fa fa-play-circle-o" style="font-size:35px;"></i>
                                                  </div>
                                                </td>
                                            </tr>
                                         <tr>
                                                <td>Neck</td>
                                                <td>shingo</td>
                                                <td class="text-right">


                                                                 <audio id="shingo" src="../../../static/Shingo.m4a"></audio>
                                                  <div>

                                                       <i onclick="document.getElementById('shingo').play()" class="fa fa-play-circle-o" style="font-size:35px;"></i>
                                                  </div>
                                                </td>
                                            </tr>
                                         <tr>
                                                <td>Look</td>
                                                <td>Tazama</td>
                                                <td class="text-right">

                                                                       <audio id="tazama" src="../../../static/Tazama.m4a"></audio>
                                                  <div>

                                                       <i onclick="document.getElementById('tazama').play()" class="fa fa-play-circle-o" style="font-size:35px;"></i>
                                                  </div>
                                                </td>
                                            </tr>
                                         <tr>
                                                <td>Stomach</td>
                                                <td>Tumbo</td>
                                                <td class="text-right">

                                                                         <audio id="tumbo" src="../../../static/Tumbo.m4a"></audio>
                                                  <div>

                                                       <i onclick="document.getElementById('tumbo').play()" class="fa fa-play-circle-o" style="font-size:35px;"></i>
                                                  </div>
                                                </td>
                                            </tr>
                                         <tr>
                                                <td>Wear</td>
                                                <td>Vaa</td>
                                                <td class="text-right">

                                              <audio id="vaa" src="../../../static/Vaa.m4a"></audio>
                                                  <div>

                                                       <i onclick="document.getElementById('vaa').play()" class="fa fa-play-circle-o" style="font-size:35px;"></i>
                                                  </div>
                                                </td>
                                            </tr>
                                         <tr>
                                                <td>Shoes</td>
                                                <td>Viatu</td>
                                                <td class="text-right">

                                                                       <audio id="viatu" src="../../../static/Viatu.m4a"></audio>
                                                  <div>

                                                       <i onclick="document.getElementById('viatu').play()" class="fa fa-play-circle-o" style="font-size:35px;"></i>
                                                  </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
<!--   Core JS Files   -->
<script src="../../../static/assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="../../../static/assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="../../../static/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="../../../static/assets/js/plugins/bootstrap-switch.js"></script>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!--  Chartist Plugin  -->
<script src="../../../static/assets/js/plugins/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="../../../static/assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
<script src="../../../static/assets/js/light-bootstrap-dashboard.js?v=2.0.0 " type="text/javascript"></script>
<!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->
<script src="../../../static/assets/js/demo.js"></script>

</html>
