 <div class="sidebar-wrapper">
                <div class="logo">
                        Training
                    </a>
                </div>
                <ul class="nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/student">
                            <i class="nc-icon nc-chart-pie-35"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/student/levelone">
                            <i class="nc-icon nc-satisfied"></i>
                            <p>Level 1</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/student/leveltwo" >
                            <i class="nc-icon nc-single-copy-04"></i>
                            <p>Level 2</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/student/levelthree">
                            <i class="nc-icon nc-notes"></i>
                            <p>Level 3</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" >
                            <i class="nc-icon nc-audio-92"></i>
                            <p>Level 4</p>
                        </a>
                    </li>
                    <!--<li>-->
                    <!--    <a class="nav-link" href="/student/read/assignment">-->
                    <!--        <i class="nc-icon nc-paper-2"></i>-->
                    <!--        <p>View Projects</p>-->
                    <!--    </a>-->
                    <!--</li>-->
                </ul>
            </div>